DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Producción con PostgreSQL
DB_ENGINE=postgresql
DB_NAME=matchday
DB_USER=matchday
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432
DB_CONN_MAX_AGE=60
